/* Set the size of the div element that contains the map */
.input-group{
    
}
.disable-select{
    -ms-user-select:none;
 }
.card{
    max-width: 300px;
    /* max-height: 200px; */
}
#map {
    height: 65vh;
    /* The height is 400 pixels */
    width: 100vw;
    position: absolute;
    bottom: 0px;
    right: 0px;
    
    /* The width is the width of the web page */
  }
  